.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(190, 154, 154);
}

form {
  
  display: flex;
  flex-direction: column;
  background-color: #e9d7d7;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
